*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}

body{
    background-color: rgb(15,15,15);
    color: white;
}
